
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="row jumbotron">

    <div class="col-md-8">
        <h2>Risuna N. Chauke</h2>
        <p>I am Risuna Chauke and I am the founder of Chauke Media. I was born on the 5th of February 2003 and I am the youngest Media CEO. I studied BCom Informatics at the University of Pretoria. I am a person who hates being told what to do. I've dreamed about working corporate after university, but instead, decided to establish my own company. There is a saying among entrepreneurs “I work 80 hours a week so I don't have to work 40 hours a week!” I embrace the pressure work and life and take that as motivation for the sucess of my business.</p>
    </div>

    <div class="col-md-4">
        <img src="~/Media/Images/RisunaC.jpeg" width="220" />
    </div>  

</div>
